@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: linear-gradient(to right, #1f2937, #2d3748, #1f2937); */
  background: white;
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* roster page member cards*/

.perspective {
  perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease-in-out;
  transform-style: preserve-3d;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card-front, 
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid transparent; 
  border-radius: 0.5rem;
  transition: border 1.0s ease; 
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-front,
.flip-card:hover .flip-card-back {
  border: 1px solid #9E1B32;
}